h1 {
  color: #fff;
}

.login .fa-solid {
  color: #e79214;
  font-size: 40px;
}

.home__content {
  padding-left: 15%;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  justify-content: center;
  background-image: url('../../images/drink.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  overflow-y: hidden;
}

.register form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  border-color: #504444fc;
  border-style: double;
  gap: 20px;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
}

.register input {
  height: 30px;
  padding: 5px 10px;
  font-size: larger;
  box-sizing: border-box;
}

.register button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #3f51b5;
  color: white;
  border: 1px solid #3f51b5;
  cursor: pointer;
}

.register p {
  color: red;
}

.account {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: #fff;
}

.account button {
  width: 70px;
  padding: 5px;
  border-radius: 10px 7px;
}

@media screen and (max-width: 425px) {
  .register form {
    width: 80vw;
    padding: 10px;
    background-color: #04040478;
  }

  .form {
    left: 8%;
  }

  .home__content {
    padding-left: 8%;
  }

  nav {
    justify-content: end;
  }

}
