* {
  padding: 0;
  margin: 0;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.home2 {
  background-image: url('../../images/homeBG.jpg'); 
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home2 h2 {
  background-color: #795548;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
}

.home2 input {
  margin: 10px;
  cursor: pointer;
}

.home2 .sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #706767;
  overflow-y: scroll;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: #151e22;
  position: relative;
}

.fa-user {
  background-color: rgb(136, 132, 132);
  padding: 15px;
  border-radius: 50%;
}

.user span {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.identifier {
  font-style: italic;
}

.content {
  flex-direction: column;
  display: flex;
  align-items: center;
}

li {
  line-height: 30px;
  font-size: 18px;
}

ul {
  margin-bottom: 15px;
}

.end {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: flex-end;
  font-size: 22px;
  justify-content: center;
  margin: 10px;
}

.fa-xmark {
  position: absolute;
  right: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: #1f1c1c;
}

.fa-ellipsis-vertical,
.fa-bars {
  font-size: 30px;
  background-color: #0e0202;
  padding: 8px;
  width: fit-content;
  margin-top: 15px;
}

.icons-holder {
  display: flex;
  justify-content: space-between;
  margin-inline: 15px 15px ;
}



