* {
  padding: 0;
  margin: 0;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.home2 {
  background-image: url('../../images/homeBG.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home2 h2 {
  background-color: #795548;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
}

.home2 input {
  margin: 10px;
  cursor: pointer;
}

.home2 .sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #706767;
  overflow-y: scroll;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: #151e22;
}

.fa-user {
  background-color: rgb(136, 132, 132);
  padding: 15px;
  border-radius: 50%;
}

.user span {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.identifier {
  font-style: italic;
}

.content {
  flex-direction: column;
  display: flex;
  align-items: center;
}

li {
  line-height: 30px;
  font-size: 18px;
}

ul {
  margin-bottom: 15px;
}

.end {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: flex-end;
  font-size: 22px;
  justify-content: center;
  margin: 10px;
}

.fa-xmark {
  position: absolute;
  right: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: #1f1c1c;
}

.fa-bars {
  font-size: 30px;
  background-color: #0e0202;
  padding: 8px;
  width: fit-content;
  margin-top: 15px;
}

.icons-holder-right {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px;
  width: fit-content;
  margin-top: 15px;
  background-color: #220909;
  padding: 10px;
  border-radius: 5px;
}

.icons-holder {
  display: flex;
  justify-content: space-between;
  margin-inline: 15px 15px;
}

.drinks {
  margin-left: 260px;
  flex-wrap: wrap;
  display: flex;
  gap: 45px;
}

.bottle {
  width: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.drinks-content {
  display: flex;
}

.pic {
  width: 100%;
  border-radius: 3px;
  height: 400px;
  margin: 10px;
  background-color: #795548;
  padding: 5px;
}

.icons-holder-text {
  display: flex;
  gap: 7px;
}

.drinks-content h3 {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 35, 35);
  border: 1px solid rgba(61, 51, 51, 0.936);
  padding: 10px 0;
}

/* .dropDown {
  position: absolute;
  right: 0;
  margin-right: 27px;
  margin-top: 80px;
  background-color: #795548;
  border-radius: 8px;
  padding: 10px 20px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
} */

.dropDown {
  display: none;
}

.dropDown li {
  font-weight: 500;
}

.dropDown li:hover {
  background-color: #802b3c;
  width: 70px;
  padding: 3px;
}

.icons-holder-right:hover .dropDown {
  display: block;
  position: absolute;
  background-color: #220909;
  margin-top: 150px;
  margin-left: -10px;
  padding: 0 8px;
  width: 80px;
}
